<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d9cb5">  <td>17/11/29 16:48:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestController.TestCaseController()[pri:0, instance:com.neosoft.test.TestController@8bd1b6a]">TestCaseController</td> 
  <td>main@485041780</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>17/11/29 16:48:42</td>   <td>-674</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestController.initBrowser()[pri:0, instance:com.neosoft.test.TestController@8bd1b6a]">&gt;&gt;initBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@485041780</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>17/11/29 16:48:47</td>   <td>3501</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestController.quitBrowser()[pri:0, instance:com.neosoft.test.TestController@8bd1b6a]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@485041780</td>   <td></td> </tr>
</table>
